<div class="header-wow">
  <div class="container_24">
    <div class="grid_6 alpha">
      <h1 id="h1-logo"><a href="/"><img src="/theme/50ff095d7a50722c3a0001c9/stylesheets/images/Teambox.png" alt="Teambox" /></a></h1>
    </div>
    <div class="grid_18 omega header-wow-nav-wrapper">
      <ul class="header-wow-nav">
        <li><a href="#">features</a></li>
        <li><a href="#">plans & pricing</a></li>
        <li><a href="#">press</a></li>
      </ul>
      <a class="wow-button login_button" href="/login">Login</a>
      <a class="wow-button primary" href="/signup">Sign up</a>
    </div>
    <div class="clear"></div>
  </div>
</div>

<!-- If we are in Homme Page dont show the sub navigation -->
{{ item.section.navigation | include: item | assign_to: 'item_included' }}

{% if item.section and item_included %}
  <div class="sub-navigation">
    <div class="sub-navigation-inner">
      <div class="container_24">
        <span class="sub-navigation-item sub-navigation-section">{{ item.section.title }}</span>
        {% for subitem in item.section.navigation %}
          {% capture is_selected %}{% if subitem.path == item.path %} is-selected{% endif %}{% endcapture %}
          <a href="{{ subitem.path }}" class="sub-navigation-item{{ is_selected }}">{{ subitem.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
